.quizz {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    a {
      display: flex;
      align-items: center; 
      justify-content: center; 
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      height: 80px;
      width: 200px;
      margin: 10px;
      transition: 0.1s;
      border-radius: 50px;
      text-align: center;
      box-shadow: 10px 10px 30px rgb(0, 0, 0);
    }
  
    a:hover {
      transform: scale(1.1);
      box-shadow: 10px 30px 30px rgb(0, 0, 0);

    }
  
    h3 {
      margin: 0; 
      color: rgb(25, 0, 255);
    }
  }