.container {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .exemple {
        display: flex;
        justify-content: center;
        padding: 30px;
        background-color: white;
        height: 400px;
        width: 800px;
        border-radius: 40px;
        flex-direction: column;
    }

    h1 {
        color: black;
    }

    h3 {
        display: flex;
    }

    button {
        display: flex;
        width: 50px;
    }
}